In [161]:
import pandas as pd
import numpy as np

In [162]:
df= pd.read_csv("../datasets/play.csv")

In [163]:
df = df.sample(frac=1).reset_index(drop=True)

In [164]:
data = df[:10]
test = df[10:]
# data = df

In [165]:
rainy, sunny, overcast, yes, no = 0,0,0,0,0
ry, rn, sy, sn, oy, on = 0,0,0,0,0,0
length = len(data)
for i in range(length):
    if data['outlook'][i]=='rainy':
        rainy+=1
        if data['play'][i] == 'yes':
            ry +=1
        else:
            rn+=1
    if data['outlook'][i]=='sunny':
        sunny+=1
        if data['play'][i] == 'yes':
            sy +=1
        else:
            sn+=1
            
    if data['outlook'][i]=='overcast':
        overcast +=1
        if data['play'][i] == 'yes':
            oy +=1
        else:
            on+=1
    if data['play'][i] == 'yes':
        yes +=1
    else:
        no += 1

### Bayes theorem

In [177]:
sunnyoveryes = sy/yes
rainyoveryes = ry/yes
overoveryes = oy/yes

yesRainy = rainyoveryes*yes/rainy
yesSunny = sunnyoveryes*yes/sunny
yesOver = overoveryes*yes/overcast

In [178]:
yesRainy

0.6666666666666666

In [179]:
yesSunny

0.5

In [180]:
yesOver

1.0

In [181]:
probs = {'rainy':yesRainy, 'sunny':yesSunny, 'overcast':yesOver}

In [182]:
test

     outlook play
10  overcast  yes
11     rainy   no
12     sunny  yes
13  overcast  yes

In [183]:
tp, tn, fp, fn = 0,0,0,0
for i in range(10, 10+len(test)):
    if probs[test['outlook'][i]]>=0.5 and test['play'][i] == 'yes':
        tp+=1
    elif probs[test['outlook'][i]]>=0.5 and test['play'][i] == 'no':
        fp+=1
    elif probs[test['outlook'][i]]<0.5 and test['play'][i] == 'no':
        tn+=1
    elif probs[test['outlook'][i]]<0.5 and test['play'][i] == 'yes':
        fn+=1

In [184]:
precision = tp/(tp+fp)

In [185]:
recall = tp/(tp+fn)

In [186]:
accuracy = (tp+tn)/(tp+tn+fp+fn)

In [187]:
print(accuracy, precision, recall)

0.75 0.75 1.0